*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1f293a;
}
/*body{
    background-image: url('img/bgimg4.webp');
    background-size: cover;
    background-repeat: no-repeat;

}*/

.nav{
    display: flex;
    background-color: black;
    color: antiquewhite;
    padding: 30px;
    height: 20px;
    
}

.nav1{
    flex-grow: 2;
    display: inline;
    padding: -10px;
}

.nav2{
    flex-grow: 1;
    display: inline;
    text-align: right;
}

.innav{
    display: inline;
    padding-right: 20px;
}


.innav a{
    color: antiquewhite;
    text-decoration: none;
}

.innav a:hover,.innav a.active{
    color: aqua;
    font-weight: 1000;
}

.details{
    width: 99.4%;
    height: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}

.details table{
    display: flex;
    justify-content: center;
    border-radius: 90px;
    width: 100%;
    box-sizing: 50px;
    -moz-box-align: center;
    shape-margin: 10px;
    margin: 10px;
}
.details:hover{
    border: 2px solid aqua;
    border-radius: 50px;
}
.details th{
    margin: 10px;
    padding: 10px;
    color: antiquewhite;
}

.details td{
    margin: 10px;
    padding: 10px;
    color: antiquewhite;
}
.details input{
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.199);
    color: antiquewhite;
}
.details input:hover{
   background-color: #1f293a;
    color: aquamarine;
    cursor:grab;
}
.odd1{
    transform: translateX(150%);
    opacity: 0; 
    animation: Rightslide 0.5s ease forwards;
}
@keyframes Rightslide {
    0%{
        transform: translateX(150%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.even1{
    transform: translateX(-150%);
    opacity: 0; 
    animation: Leftslide 0.5s ease forwards;
    animation-delay: .5s;
}
@keyframes Leftslide {
    0%{
        transform: translateX(-150%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.odd2{
    transform: translateX(150%);
    opacity: 0; 
    animation: Rightslide 0.5s ease forwards;
    animation-delay: 1s;
}

.even2{
    transform: translateX(-150%);
    opacity: 0; 
    animation: Leftslide 0.5s ease forwards;
    animation-delay:1.5s;
}
.odd3{
    transform: translateX(150%);
    opacity: 0; 
    animation: Rightslide 0.5s ease forwards;
    animation-delay: 2s;
}
